@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;
@use '../components/buttons'as *;

/* #main style 
===================== */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  width: 100%;
}

.btn.link-disabled {
  @extend .btn-disabled;
}

.btn.link-error {
  @extend .btn-danger;
}

a.link-disabled {
  @extend .btn-link-disabled;
}

a.link-error {
  @extend .btn-link-danger;
}

img[href=""] {
  display: none;
}

#progress-bar {
  --progress: 0;
  position: absolute;
  top: 0;
  height: 2px;
  width: var(--progress);
  background-color: var(--tf-secondary-400);
  z-index: 1;
}

.table {
  --bs-table-striped-color: unset;
  --bs-table-striped-bg: rgba(0, 0, 0, 0);

  th {
    background: var(--tf-secondary-600) !important;
    color: #fff !important;
    font-family: "Lunch box", sans-serif;
    font-size: calc(100% * 1.3);
    line-height: 1.4;
  }

  td,
  th {
    padding: 1rem !important;
  }
}

.grecaptcha-badge {
  z-index: 999;
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 3px !important;
  visibility: hidden;

  &:hover {
    width: 256px !important;
  }
}

.recaptcha-info {
  margin-top: 1.5rem;
  font-weight: 200;
  font-size: 0.85rem;

  a {
    color: var(--bs-primary);
  }
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid var(--tf-primary);
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-inline: auto;
}

#seeMoreIcon {
  position: relative;
  display: grid;
  place-content: center;
  animation: seeMoreIcoAnimation 1s ease-in infinite;
}

.product-list__body {
  position: relative;
}

.loading-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #131313d9;
  z-index: 1;

  &::before {
    margin-top: 10%;
    margin-bottom: 3%;
    content: "Chargement";
    display: flex;
    place-content: center;
  }
}

.jq-toast-single {
  background-color: #444;
}

.modal-share-link {

  #fbButton,
  .IN-widget>span:nth-child(1),
  .IN-widget button,
  .IN-widget,
  .twitter-share-button,
  .fb-share-button {
    display: block;
    height: 100% !important;
  }


  .fb-wrapper,
  .tweet-wrapper,
  .linkedin-wrapper {
    display: grid;
    gap: .25rem;
  }

  .fb-wrapper .btn,
  .tweet-wrapper .btn,
  .linkedin-wrapper .btn {
    margin-inline: auto !important;
  }

  .fb-wrapper p,
  .tweet-wrapper p,
  .linkedin-wrapper p {
    font-size: .85rem;
    font-weight: normal;
  }

  .modal-content {
    padding: 2rem;
  }

  .modal-header {
    padding: 0;
    border-bottom: none;
  }

  .modal-body {
    padding: var(--bs-modal-padding) 0;
  }

  .btn-outline-tag {
    border-color: transparent;
    background: #f4f4f4;
    padding: 0;
    display: grid;
    place-content: center;
  }

  .btn,
  .table-responsive table.dataTable a[class^="px-"] {
    height: 45px;
    width: 45px;
  }

  .btn-close {
    font-size: 0.65rem;
    background-color: #f4f4f4;
    padding: .75em;
  }

  i {
    font-size: 1.25rem;
  }

  .page-share {
    .btn {
      margin: 0
    }

    &__title {
      display: block;
      margin-block: 1rem;
    }

    .link-share-wrapper {
      display: flex;
      gap: 1rem;
      place-content: space-between;
    }

    .btn,
    .table-responsive table.dataTable a[class^="px-"] {
      height: 40px;
      width: 40px;
      border-radius: 100vmax;
      padding-inline: 0;
    }


    .link-share__fb,
    .link-share__tweet,
    .link-share__in {
      position: relative;

      &:hover button {
        color: #fff;
        background-color: var(--tf-primary);
        border-color: var(--tf-primary);
      }

      .btn-tag-absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.01;
      }
    }

    .copylink-page-wrapper {
      margin-top: 1rem;
    }

    label {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .copylink-page {
      background: #f3f3f4;
      padding: .5rem 1rem;
      border-radius: 9px;
      display: flex;
    }

    .copylink-input {
      width: 100%;
      border: transparent;
      background-color: transparent;
      font-size: 1rem;

      &:focus-visible {
        outline: 0;
      }
    }

    .copylink-page button {
      box-shadow: none;
      border: none;
      background: #f3f3f4;

      i::before {
        font-size: 1rem;
        padding-left: .5rem;
      }
    }

  }
}

[aria-label="breadcrumb"] {
  @extend .bg-light;
  padding-block: 1%;

  .breadcrumb {
    margin: 0;
  }

  .breadcrumb-item:not(.active) a {
    text-decoration: none;
    font-weight: 400;
    color: var(--bs-body-color);

    &:hover {
      color: var(--bs-primary);
    }
  }
}