@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.container {
  max-width: 1760px;
}

.row,
.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}

.discover {
  display: grid;
  gap: 2rem;
  text-align: start;

  &--compose-page {
    display: grid;
    gap: 1rem;

    .btn-wrapper {
      display: none;
    }
  }
}

.theme-white *,
.theme-white *::before,
.theme-white *::after {
  color: white !important;
  border-color: white !important;
}

.subtitle {
  font-size: var(--bs-font-body-size);
  font-family: $font-family-base;
  font-weight: 500;
  color: var(--bs-primary);
  text-transform: uppercase;
  letter-spacing: calc(650 * .0006em);
  line-height: 1.5;

  @include media-breakpoint-down(sm) {
    font-size: .75rem;
  }
}

b {
  font-weight: 500;
}

strong {
  font-weight: 600;
}