.cart {
  position: relative;
  min-height: 50vh;

  i {
    padding: 0 !important;
  }

  &-img {
    max-height: 100px;
    width: auto;
  }

  #cartProductList {
    border-collapse: inherit;
    margin-block: 2rem;
    vertical-align: middle;

    td {
      border-width: 0px;
      border-bottom: 1px solid var(--bs-body-color);
      padding: .25rem;
    }

    td:first-child {
      padding-left: 0;
    }

    td:last-child {
      padding-right: 0;
    }

    input {
      width: 70px;
    }
  }


  #spinner {
    position: absolute;
    width: 600px;
    height: 36px;
    left: 50%;
    top: 40%;
    margin-left: -300px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }

  #spinner div {
    position: absolute;
    width: 20px;
    height: 36px;
    opacity: 0;
    font-family: Helvetica, Arial, sans-serif;
    animation: move 2s linear infinite;
    -o-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-animation: move 2s linear infinite;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: var(--bs-body-color);
  }

  #spinner div:nth-child(2) {
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }

  #spinner div:nth-child(3) {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
  }

  #spinner div:nth-child(4) {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
  }

  #spinner div:nth-child(5) {
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }

  #spinner div:nth-child(6) {
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }

  #spinner div:nth-child(7) {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
  }

  #spinner div:nth-child(8) {
    animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
  }

  #spinner div:nth-child(9) {
    animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
  }

  #spinner div:nth-child(10) {
    animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
  }

  &-content {
    margin-block: 3rem;
  }

  &-header {
    display: flex;
    place-content: space-between;

    a {
      color: white !important;
    }
  }

  &-empty {
    display: grid;
    place-content: center;
    gap: 3rem;
    text-align: center;
    place-items: center;
    padding-block: 3rem;

    .img-wrapper {
      background: rgba(127, 135, 184, 0.2);
      padding: 3rem;
      aspect-ratio: 1/1;
      border-radius: 100vmax;
      display: grid;
      place-content: center;
      height: 250px;
    }
  }


  &-totals {
    width: 350px;
    margin-left: auto;
    display: grid;
    place-items: end;

    .btn {
      margin-top: 1rem;
    }

    .price-wrapper {
      display: flex;
      place-items: center;
      place-content: space-between;
      place-items: center;
      width: 100%;

      &>* {
        margin: 0;
      }

      span {
        color: var(--bs-body-color);
      }
    }
  }
}